<a href="https://colab.research.google.com/github/IngerMasha/week8_day2/blob/main/Exercises_XP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Duplicate Detection And Removal

In [17]:
import pandas as pd

# titanic_data = pd.read_csv('/content/test.csv')
# titanic_data = pd.read_csv('/content/gender_submission.csv')
# titanic_data = pd.read_csv('/content/train.csv')
titanic_data = pd.read_csv('/content/train2.csv')

print("First rows DataFrame:")
print(titanic_data.head())

First rows DataFrame:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [16]:
duplicates = titanic_data.duplicated()
print(f"Number of duplicates: {duplicates.sum()}")
# The number of duplicates is zero.

Number of duplicates: 0

In [15]:
missing_values = titanic_data.isnull().sum()
print("Missing values ​​in each column:")
print(missing_values[missing_values > 0])

Пропущенные значения в каждом столбце:
Age         177
Cabin       687
Embarked      2
dtype: int64

In [19]:
titanic_df_dropped = titanic_data.dropna()
print(f"Number of rows after dropping missing values: {len(titanic_df_dropped)}")

Number of rows after dropping missing values: 183

In [21]:
titanic_df_filled_const = titanic_data.copy()
titanic_df_filled_const['Embarked'].fillna('S', inplace=True)
print(f"Filling missing values ​​in a column with a constant: {titanic_df_filled_const['Embarked'].isnull().sum()}")

Number of rows after dropping missing values: 183
Filling missing values ​​in a column with a constant: 0

In [23]:
from sklearn.impute import SimpleImputer

print(f"missing values ​​in a column 'Age' before: {titanic_data['Age'].isnull().sum()}")

imputer = SimpleImputer(strategy='mean')
titanic_data_imputed = titanic_data.copy()
titanic_data_imputed['Age'] = imputer.fit_transform(titanic_data[['Age']])
print(f"missing values ​​in a column 'Age' after: {titanic_data_imputed['Age'].isnull().sum()}")

Пропущенные значения в столбце 'Age' до импутации: 177
Пропущенные значения в столбце 'Age' после импутации: 0

Exercise 3: Feature Engineering

In [24]:
import pandas as pd

titanic_data['Family_Size'] = titanic_data['SibSp'] + titanic_data['Parch'] + 1
print(titanic_data[['SibSp', 'Parch', 'Family_Size']].head())

   SibSp  Parch  Family_Size
0      1      0            2
1      1      0            2
2      0      0            1
3      1      0            2
4      0      0            1

In [26]:
import re

def extract_title(name):
    title_search = re.search(' ([A-Za-z]+)\.', name)
    if title_search:
        return title_search.group(1)
    return ""

titanic_data['Title'] = titanic_data['Name'].apply(extract_title)
print(titanic_data[['Name', 'Title']].head())

                                                Name Title
0                            Braund, Mr. Owen Harris    Mr
1  Cumings, Mrs. John Bradley (Florence Briggs Th...   Mrs
2                             Heikkinen, Miss. Laina  Miss
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)   Mrs
4                           Allen, Mr. William Henry    Mr

In [27]:
titanic_data= pd.get_dummies(titanic_data, columns=['Embarked'], prefix='Embarked')
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin  Family_Size Title  Embarked_C  \
0      0         A/5 21171   7.2500   NaN            2    Mr       False
1      0          PC 17599  71.2833   C85            2   Mrs        True
2      0  STON/O2. 3101282   7.9250   NaN            1  Miss       False
3      0            113803  53.1000  C123            2   Mrs       False
4      0            373450   8.0500   NaN            1    Mr       False

   Embarked_Q  Embarked_S
0       False        True
1       False       False
2       False        True
3       False        True
4       False        True

In [28]:
titanic_data['Title'] = titanic_data['Title'].astype('category').cat.codes
print(titanic_data[['Name', 'Title']].head())

                                                Name  Title
0                            Braund, Mr. Owen Harris     12
1  Cumings, Mrs. John Bradley (Florence Briggs Th...     13
2                             Heikkinen, Miss. Laina      9
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)     13
4                           Allen, Mr. William Henry     12

In [30]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
titanic_data[['Age', 'Fare']] = scaler.fit_transform(titanic_data[['Age', 'Fare']])
print(titanic_data[['Age', 'Fare']].head())

        Age      Fare
0 -0.530377 -0.502445
1  0.571831  0.786845
2 -0.254825 -0.488854
3  0.365167  0.420730
4  0.365167 -0.486337

Exercise 4: Outlier Detection And Handling

In [31]:
import pandas as pd
titanic_data = pd.read_csv('/content/train2.csv')

print("First rows DataFrame:")
print(titanic_data.head())

First rows DataFrame:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [32]:
def detect_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

fare_outliers = detect_outliers_iqr(titanic_data, 'Fare')
print(f"Number of outliers per column 'Fare': {len(fare_outliers)}")

age_outliers = detect_outliers_iqr(titanic_data, 'Age')
print(f"Number of outliers per column 'Age': {len(age_outliers)}")

Количество выбросов в столбце 'Fare': 116
Количество выбросов в столбце 'Age': 11

In [34]:
import numpy as np

def cap_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df[column] = np.where(df[column] < lower_bound, lower_bound, df[column])
    df[column] = np.where(df[column] > upper_bound, upper_bound, df[column])

cap_outliers(titanic_data, 'Fare')
cap_outliers(titanic_data, 'Age')

titanic_data['Fare_log'] = np.log1p(titanic_data['Fare'])
titanic_data['Age_log'] = np.log1p(titanic_data['Age'])

In [35]:
print("Statistical information after handling outliers in the 'Fare' column:")
print(titanic_data['Fare'].describe())

print("Statistical information after handling outliers in the 'Age' column:")
print(titanic_data['Age'].describe())

print("Statistical information after logarithmic transformation in the 'Fare_log' column:")
print(titanic_data['Fare_log'].describe())

print("Statistical information after logarithmic transformation in the 'Age_log' column:")
print(titanic_data['Age_log'].describe())

Statistical information after handling outliers in the 'Fare' column:
count    891.000000
mean      24.046813
std       20.481625
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max       65.634400
Name: Fare, dtype: float64
Statistical information after handling outliers in the 'Age' column:
count    714.000000
mean      29.622700
std       14.316665
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       64.812500
Name: Age, dtype: float64
Statistical information after logarithmic transformation in the 'Fare_log' column:
count    891.000000
mean       2.893539
std        0.835804
min        0.000000
25%        2.187218
50%        2.737881
75%        3.465736
max        4.199221
Name: Fare_log, dtype: float64
Statistical information after logarithmic transformation in the 'Age_log' column:
count    714.000000
mean       3.257783
std        0.682460
min        0.350657
25%        3.050405
50%        3.367296
75%        3.663562
max        4.186810
Name: Age_log, dtype: float64

 Exercise 5: Data Standardization And Normalization

In [37]:
import pandas as pd
import numpy as np

titanic_data = pd.read_csv('/content/train2.csv')

print(titanic_data.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [38]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

numerical_features = ['Age', 'Fare']
scaler = StandardScaler()
titanic_data[numerical_features] = scaler.fit_transform(titanic_data[numerical_features])
print("Statistical information after standardization:")
print(titanic_data[numerical_features].describe())

Statistical information after standardization:
                Age          Fare
count  7.140000e+02  8.910000e+02
mean   2.388379e-16  3.987333e-18
std    1.000701e+00  1.000562e+00
min   -2.016979e+00 -6.484217e-01
25%   -6.595416e-01 -4.891482e-01
50%   -1.170488e-01 -3.573909e-01
75%    5.718310e-01 -2.424635e-02
max    3.465126e+00  9.667167e+00

In [39]:
min_max_scaler = MinMaxScaler()
titanic_data[numerical_features] = min_max_scaler.fit_transform(titanic_data[numerical_features])
print("Statistical information after normalization:")
print(titanic_data[numerical_features].describe())

Статистическая информация после нормализации:
              Age        Fare
count  714.000000  891.000000
mean     0.367921    0.062858
std      0.182540    0.096995
min      0.000000    0.000000
25%      0.247612    0.015440
50%      0.346569    0.028213
75%      0.472229    0.060508
max      1.000000    1.000000

Exercise 6: Feature Encoding

In [40]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
titanic_data = pd.read_csv('/content/train2.csv')
categorical_columns = ['Sex', 'Embarked']
for column in categorical_columns:
    print(f"Unique values in {column} column:", titanic_data[column].unique())

Unique values in Sex column: ['male' 'female']
Unique values in Embarked column: ['S' 'C' 'Q' nan]

In [41]:
titanic_df = pd.get_dummies(titanic_data, columns=['Sex', 'Embarked'], drop_first=True)

print(titanic_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0      1      0
2                             Heikkinen, Miss. Laina  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0      1      0
4                           Allen, Mr. William Henry  35.0      0      0

             Ticket     Fare Cabin  Sex_male  Embarked_Q  Embarked_S
0         A/5 21171   7.2500   NaN      True       False        True
1          PC 17599  71.2833   C85     False       False       False
2  STON/O2. 3101282   7.9250   NaN     False       False        True
3            113803  53.1000  C123     False       False        True
4            373450   8.0500   NaN      True       False        True

Exercise 7: Data Transformation For Age Feature

In [43]:
bins = [0, 12, 18, 35, 60, 100]
labels = ['Child', 'Teenager', 'Adult', 'Middle-aged', 'Senior']
titanic_data['AgeGroup'] = pd.cut(titanic_data['Age'], bins=bins, labels=labels)

print(titanic_data['AgeGroup'].value_counts())

AgeGroup
Adult          358
Middle-aged    195
Teenager        70
Child           69
Senior          22
Name: count, dtype: int64

In [44]:
titanic_data = pd.get_dummies(titanic_data, columns=['AgeGroup'])
print(titanic_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  AgeGroup_Child  \
0      0         A/5 21171   7.2500   NaN        S           False
1      0          PC 17599  71.2833   C85        C           False
2      0  STON/O2. 3101282   7.9250   NaN        S           False
3      0            113803  53.1000  C123        S           False
4      0            373450   8.0500   NaN        S           False

   AgeGroup_Teenager  AgeGroup_Adult  AgeGroup_Middle-aged  AgeGroup_Senior
0              False            True                 False            False
1              False           False                  True            False
2              False            True                 False            False
3              False            True                 False            False
4              False            True                 False            False